<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity android:name="com.coffeepeek.core.designsystem.DesignSystemTestActivity"
            android:exported="true" android:theme="@android:style/Theme.Material.Light.NoActionBar" />
    </application>
</manifest>
